* {
    box-sizing: border-box;
}
body {
    font-family: poppins;
    background-color: slateblue;
    overscroll-behavior: none;
}

.padContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    margin: 0;
}

#undo {
    padding: 20px;
}

#undo:disabled {
    cursor: not-allowed;
}